.btn-social {
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #484848;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-social:hover {
  border-radius: 33%;
}
.btn-social span {
  background: url('../img/sprite.png') no-repeat;
  width: 28px;
  height: 28px;
  display: block;
}
.cv {
  background-color: #da463f;
}
.cv span {
  background-position: 0 -448px;
}
.email {
  background-color: #774cb5;
}
.email span {
  background-position: 0 -476px;
}
.github {
  background-color: #eeeeee;
}
.github span {
  background-position: 0 -86px;
}
.twitter {
  background-color: #00aced;
}
.twitter span {
  background-position: 0 -338px;
}
.linkedin {
  background-color: #0097bd;
}
.linkedin span {
  background-position: 0 -199px;
}
.left {
  text-align: right;
  padding-right: 2.564102564102564%;
  *padding-right: 2.5109110747408616%;
}
.left-content {
  margin-right: 3px;
}
.background-left {
  position: absolute;
  background-color: #ecece8;
  border-right: 2px solid #cecece;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.right {
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
}
.content {
  padding-top: 97px;
  padding-bottom: 10px;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-bar {
  background: #313132;
  border-bottom: 2px solid #cecece;
  height: 62px;
}
h1 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 28px;
  height: 28px;
  margin-top: 17px;
  margin-bottom: 17px;
}
.header-title {
  color: #ffffff;
}
#list-social {
  height: 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 3px;
  width: 270px;
}
#list-social li {
  float: left;
}
#list-social li:first-child .btn-social {
  margin-left: 0;
}
section {
  margin-bottom: 22px;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
  text-shadow: 1px 1px 0 #f6f6f6;
  margin-top: 18px;
}
h3 {
  font-size: 1.3em;
  font-weight: 400;
}
.section-content {
  text-align: left;
  padding-left: 2.564102564102564%;
  *padding-left: 2.5109110747408616%;
  margin-left: -4px !important;
  border-left-style: solid;
  border-left-width: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-link {
  color: #999999;
  font-weight: 300;
  font-size: 0.9em;
  margin-top: 3px;
}
article {
  padding-top: 9px;
  padding-bottom: 9px;
}
.article-content {
  margin-top: 7px;
  color: #000000;
}
.clear-filter {
  display: none;
  margin-top: 2px;
  margin-bottom: 10px;
}
.clear-filter-text {
  color: #999999 !important;
}
.clear-filter-btn {
  padding: 6px;
  margin-right: -4px;
}
.clear-filter-btn span {
  color: #ffffff !important;
  background: #b8b8b8;
  color: #ffffff;
  display: inline-block;
  line-height: 16px;
  width: 16px;
  border-radius: 50%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 8px;
  font-style: normal;
  text-align: center;
  vertical-align: bottom;
}
.section-green .section-content {
  border-left-color: #44a650;
}
.section-green,
.section-green a:not(.article-link),
.section-green .article-link:hover {
  color: #44a650;
}
.section-red .section-content {
  border-left-color: #da463f;
}
.section-red,
.section-red a:not(.article-link),
.section-red .article-link:hover {
  color: #da463f;
}
.section-purple .section-content {
  border-left-color: #6e40a0;
}
.section-purple,
.section-purple a:not(.article-link),
.section-purple .article-link:hover {
  color: #6e40a0;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word;
}
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  position: relative;
  min-height: 100%;
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
a {
  font-weight: 400;
}
@media (max-width: 767px) {
  .left {
    text-align: center;
    padding-right: 0;
    *padding-right: 0;
  }
  .left-content {
    margin-right: 0;
  }
  .header-bar {
    height: 124px;
  }
  #list-social {
    margin: 0 auto;
  }
  #list-social li:first-child .btn-social {
    margin-left: 10px;
  }
  .content {
    padding-top: 124px;
  }
  h2 {
    margin-top: 10px;
  }
  section {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .section-content {
    padding-left: 16px;
  }
}
