.btn-social {
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid #484848;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-social:hover {
  border-radius: 33%;
}
.btn-social span {
  background: url('../img/sprite.png') no-repeat;
  width: 28px;
  height: 28px;
  display: block;
}
.cv {
  background-color: #da463f;
}
.cv span {
  background-position: 0 -448px;
}
.email {
  background-color: #804cbe;
}
.email span {
  background-position: 0 -476px;
}
.github {
  background-color: #eeeeee;
}
.github span {
  background-position: 0 -86px;
}
.twitter {
  background-color: #00aced;
}
.twitter span {
  background-position: 0 -338px;
}
.linkedin {
  background-color: #0097bd;
}
.linkedin span {
  background-position: 0 -199px;
}
.left {
  text-align: right;
  padding-right: 2.564102564102564%;
  *padding-right: 2.5109110747408616%;
}
.background-left {
  position: absolute;
  background-color: #ecece8;
  border-right: 2px solid #cecece;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.content {
  padding-top: 102px;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-bar {
  background: #313132;
  border-bottom: 2px solid #cecece;
  height: 62px;
}
h1 {
  font-size: 1.75em;
  font-weight: bold;
  color: #ffffff;
  line-height: 28px;
  height: 28px;
  margin-top: 17px;
  margin-bottom: 17px;
}
#list-social {
  height: 36px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 4px;
  width: 280px;
}
#list-social li {
  float: left;
}
section {
  margin-bottom: 22px;
}
h2 {
  font-size: 1.4em;
  color: #999999;
  font-weight: bold;
  text-shadow: 1px 1px 0 #f6f6f6;
  margin-top: 15px;
}
h3 {
  font-size: 1.3em;
  font-weight: bold;
  display: inline;
}
.section-content {
  text-align: left;
  padding-left: 20px;
  margin-left: -4px !important;
  border-left-style: solid;
  border-left-width: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.section-content a {
  color: #999999;
  font-size: 0.9em;
  display: block;
  margin-bottom: 4px;
}
article {
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-content {
  margin-top: 10px;
}
.section-green {
  border-left-color: #44a650;
}
.section-green h3,
.section-green a:hover {
  color: #44a650;
}
.section-red {
  border-left-color: #da463f;
}
.section-red h3,
.section-red a:hover {
  color: #da463f;
}
.section-purple {
  border-left-color: #5d3a8a;
}
.section-purple h3,
.section-purple a:hover {
  color: #5d3a8a;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  position: relative;
  background-color: #ffffff;
  font-family: myriad-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  #list-social li:first-child .btn-social {
    margin-left: 0;
  }
}
@media (max-width: 980px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  .left {
    padding-right: 2.7624309392265194%;
    *padding-right: 2.709239449864817%;
  }
}
@media (max-width: 767px) {
  .left {
    text-align: center;
    padding-right: 0;
    *padding-right: 0;
  }
  .header-bar {
    height: 124px;
  }
  #list-social {
    margin: 0 auto;
  }
  .content {
    padding-top: 124px;
  }
  h2 {
    margin-top: 0;
  }
  section {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  
}
