// Colors
@h2-shadow-color: #F6F6F6;

// Section
@section-margin-bottom: 22px;
@section-content-padding-vertical: 6px;
@section-header-padding-top: @section-content-padding-vertical +
                             @article-padding-vertical;

// Article
@article-padding-vertical: 10px;
@article-content-margin-top: 8px;

section {
  margin-bottom: @section-margin-bottom;
}

h2 {
  font-size: 1.4em;
  color: @greyDarkText;
  font-weight: bold;
  text-shadow: 1px 1px 0 @h2-shadow-color;
  margin-top: @section-header-padding-top - 1;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  display: inline; //permit h3 to have a link beside
  float: left;
  margin-right:8px; //TODO var
}

.section-content {
  text-align: left;
  padding-left: @right-layout-padding-left;
  margin-left: -4px !important;

  border-left-style: solid;
  border-left-width: 6px;
  padding-top: @section-content-padding-vertical;
  padding-bottom: @section-content-padding-vertical;
}

.article-link {
  color: @greyDarkText !important;
  font-size: 0.9em;
  display: block;
  margin-top: 3px; //TODO var
}

article {
  padding-top: @article-padding-vertical;
  padding-bottom: @article-padding-vertical;
}

.article-content {
  margin-top: @article-content-margin-top;
}

.tag {
  font-weight: bold;
}

.clear-filter-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  color: @red;
}

// Section colors

.section-green {
  border-left-color: @green;
}

.section-green .tag, .section-green a {
  color:@green;
}

.section-green h3, .section-green .article-link:hover {
  color: @green;
}

.section-red {
  border-left-color: @red;
}

.section-red .tag, .section-red a {
  color:@red;
}

.section-red h3, .section-red .article-link:hover {
  color: @red;
}

.section-purple {
  border-left-color: @purple;
}

.section-purple .tag, .section-purple a {
  color:@purple;
}

.section-purple h3, .section-purple .article-link:hover {
  color: @purple;
}
