// Colors
@h2-shadow-color: #F6F6F6;

// Section
@mobile-section-content-padding-left: 16px;
@section-force-move-left: -4px;
@section-margin-bottom: 22px;
@section-content-padding-vertical: 10px;
@section-title-padding-top: @section-content-padding-vertical +
                             @article-padding-vertical;
@mobile-section-title-padding-top: 10px;

// Article
@article-padding-vertical: 9px;
@article-content-margin-top: 7px;
@article-link-margin-top: 3px;

section {
  margin-bottom: @section-margin-bottom;
}

h2 {
  font-size: 1.4em;
  font-weight: @bold;
  text-shadow: 1px 1px 0 @h2-shadow-color;
  margin-top: @section-title-padding-top - 1;
}

h3 {
  font-size: 1.3em;
  font-weight: @bold;
}

.section-content {
  text-align: left;
  padding-left: @margin-fluid;
  *padding-left: @margin-fluid-star;
  margin-left: @section-force-move-left !important;
  border-left-style: solid;
  border-left-width: @layout-section-color-border-size;
  padding-top: @section-content-padding-vertical;
  padding-bottom: @section-content-padding-vertical;
}

.article-link {
  color: @greyDarkText;
  font-weight: @regular;
  font-size: 0.9em;
  margin-top: @article-link-margin-top;
}

article {
  padding-top: @article-padding-vertical;
  padding-bottom: @article-padding-vertical;
}

.article-content {
  margin-top: @article-content-margin-top;
  color: @black;
}

.clear-filter {
  display: none;
  margin-top: 2px; //TODO var
  margin-bottom: 10px; //TODO var
}

.clear-filter-text {
  color: @greyDarkText !important;
}

.clear-filter-btn {
  padding: 6px;
  margin-right: -4px;
}

.clear-filter-btn span {
  color: @white !important;
  background: #b8b8b8; //TODO var
  color: @white;

  display: inline-block;
  line-height: 16px;
  width: 16px;
  border-radius: 50%;

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 8px;
  font-style: normal;

  text-align: center;
  vertical-align: bottom;
}

// Section colors

.section-green .section-content {
  border-left-color: @green;
}

.section-green, .section-green a:not(.article-link), .section-green .article-link:hover, .section-green .tag {
  color: @green;
}

.section-red .section-content {
  border-left-color: @red;
}

.section-red, .section-red a:not(.article-link), .section-red .article-link:hover, .section-red .tag {
  color: @red;
}

.section-purple .section-content {
  border-left-color: @purple;
}

.section-purple, .section-purple a:not(.article-link), .section-purple .article-link:hover, .section-purple .tag {
  color: @purple;
}
