// Borders
@layout-border-size: 2px;
@layout-section-color-border-size: 6px;

// Paddings
@layout-padding-top: @header-height + 35; // For the fixed-top header
@mobile-layout-padding-top: @mobile-header-height; // For the fixed-top header

// Margins
@margin-fluid: 2.564102564102564%;
@margin-fluid-star: 2.5109110747408616%;

.left {
  text-align: right;
  padding-right: @margin-fluid;
  *padding-right: @margin-fluid-star;
}

.left-content {
  margin-right: @layout-section-color-border-size / 2;
}

.background-left {
  position: absolute;
  background-color: @greyLight;
  border-right: @layout-border-size solid @layout-border-color;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.right {
  margin-left: @margin-fluid;
  *margin-left: @margin-fluid-star;
}

.content {
  padding-top: @layout-padding-top;
  padding-bottom: 10px;
}