// Margins
@btn-social-margin-horizontal: 10px;

// Sizes
@btn-social-inner-size: 28px;
@btn-social-border-size: 4px;
@btn-social-size: @btn-social-inner-size + @btn-social-border-size * 2;
@btn-social-width-with-margins: @btn-social-size +
                                @btn-social-margin-horizontal * 2;

// Images
@btn-social-img-path: '../img/sprite.png';

.btn-social {
  width: @btn-social-inner-size;
  height: @btn-social-inner-size;
  display: inline-block;
  border-radius: 50%;
  border: @btn-social-border-size solid @greyBtnBorderColor;
  cursor: pointer;
  margin-left: @btn-social-margin-horizontal;
  margin-right: @btn-social-margin-horizontal;
}

.btn-social:hover {
  border-radius: 33%;
}

.btn-social span {
  background: url(@btn-social-img-path) no-repeat;
  width: @btn-social-inner-size;
  height: @btn-social-inner-size;
  display: block;
}

// Btn with specific icon

.cv {
  background-color: @red;
}

.cv span{
  background-position: 0 -448px;
}

.email {
  background-color: @purpleLight;
}

.email span{
  background-position: 0 -476px;
}

.github {
  background-color: @github;
}

.github span {
  background-position: 0 -86px;
}

.twitter {
  background-color: @twitter;
}

.twitter span {
  background-position: 0 -338px;
}

.linkedin {
  background-color: @linkedin;
}

.linkedin span {
  background-position: 0 -199px;
}
